{% extends 'main/header.html' %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <h1>DOMOVSKA STRANKA UWU</h1>
    </div>

</div>


{% endblock %}
{% block footer %}
<div class="container mt-5">
    <div class="row">
        <div class="d-flex flex-row flex-wrap justify-content-center align-items-stretch h-25">
            <img class=" align-self-stretch w-25" src="https://media.tenor.com/iRnmQUtXnIAAAAAC/bocchi-bocchi-the-rock.gif"
                alt="">
            <img class=" w-25 h-50"
                src="https://media.tenor.com/9wllMjsxqaAAAAAM/bocchi-the-rock-bocchi-the-rock-gif.gif" alt="">
            <img class="align-self-stretch w-25" src="https://media.tenor.com/HlIF13WPxucAAAAd/bocchi-the-rock-anime.gif"
                alt="">
            <img class="align-self-stretch w-25"
                src="https://media.tenor.com/sUci_wuIivgAAAAC/bocchi-the-rock-gotou-hitori.gif" alt="">
        </div>
    </div>
</div>



{% endblock %}