{% extends 'main/header.html' %}

{% block content %}
<div class="container mt-5">
    <p>DOMOVSKA STRANKA UWU</p>
    <div class="column">
        <div class="d-flex justify-content-between">
            <img src="https://media.tenor.com/iRnmQUtXnIAAAAAC/bocchi-bocchi-the-rock.gif" alt="">
            <img class="mx-2" src="https://media.tenor.com/9wllMjsxqaAAAAAM/bocchi-the-rock-bocchi-the-rock-gif.gif" alt="">
            <img src="https://media.tenor.com/HlIF13WPxucAAAAd/bocchi-the-rock-anime.gif" alt="">
        </div>
            <img class="" src="https://media.tenor.com/sUci_wuIivgAAAAC/bocchi-the-rock-gotou-hitori.gif" alt="">
        </div>
    </div>
    
</div>

{% endblock %}